* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.app {
    position: fixed;
    width:100%;
    height:100%;
    max-width: 600px;
    background: currentTheme
    border 1px solid #eee;
}



.chat-screen .header {
    background: #111;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 20px;

}